{
  "extends": [
    "eslint:recommended",
    "angular"
  ],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "console": true,
    "module": true,
    "$": true,
    "moment": true,
    "inject": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "rules": {
    "angular/no-service-method": 0
  }
}